# Archives
*.tar.gz
*.gz
*.zip
*.rar

# Torch files (data, checkpoints, logs)
*.pt

# Images
*.jpg

# Data

# Model checkpoints and logs

# Jupyter Notebooks
*.ipynb_checkpoints/

# Cache
*/__pycache__

# Config

# Backups